*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Barra de navegación */
/*
header: #9F0017, #9c1309
body: #3a3939, #08080A
texto: #EDEECD
botón: #f7b617
*/
.nav-dark{
    background: linear-gradient(#9F0017,#9c1309);
    color: #EDEECD !important;
}
.form-nav{
    margin-top: 6em !important;
}
body{
    background: radial-gradient(#3a3939,#08080A);
    height: 100%;
}
.logo-text{
    font-family: 'Righteous', cursive;
}
.titles{
    font-family: 'PT Sans', sans-serif;
}
.text{
    font-family: 'Raleway', sans-serif;
}
.white{
    color: #EDEECD !important;
}
.icon-user{
    right: 2%;
    font-size: 1.5em;
}
.m-l{
    margin-left: 3vh !important;
}
/* carousel */
#carousel-sagas, #carousel-sagas2 {
    width: 100% !important;
    height: 30vh !important;
}
.m-b{
    margin-bottom: 7vh !important;
}
.img-saga{
    width: 100% !important;
    height: 30vh !important;
}