*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Barra de navegación */
/*
header: #9F0017, #9c1309
body: #3a3939, #08080A
texto: #EDEECD
botón: #f7b617
*/
.nav-dark{
    background: linear-gradient(#9F0017,#9c1309);
    color: #EDEECD !important;
}
.form-nav{
    margin-top: 6em;
}
body{
    background: radial-gradient(#3a3939,#08080A);
    height: 100%;
}
.logo-text{
    font-family: 'Righteous', cursive;
}
.titles{
    font-family: 'PT Sans', sans-serif;
}
.text{
    font-family: 'Raleway', sans-serif;
}
.white{
    color: #EDEECD !important;
}
.fa{
    font-size: 1.5em;
}
/* user */
#photo-user{
    font-size: 3em;
}
.icon-user{
    right: 2%;
}
.text-m{
    margin-left: 3vh !important;
}
.m-b{
    margin-bottom: 1vh !important;
}
.user-presentation{
    display: flex !important;
    flex-flow: column !important;
    margin: auto !important;
    width: 50%;
    text-align: center !important;
}
#form-h, #form-h2 {
    width: 45% !important;
    display: inline-block !important;
}
#form{
    display: flex !important;
    flex-flow: row !important;
    margin: auto !important;
    justify-content: center !important;
}
#input-others{
    width: 10vh !important;
}
#btn-save{
    width: 25vh !important;
    background-color: goldenrod !important; 
    border-radius: 5%;
    display: flex !important;
    flex-flow: row !important;
    margin: auto !important;
    justify-content: center !important;
    padding: 1vh;
    border: none !important;
    margin-top: 4vh !important;
}