*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Barra de navegación */
/*
header: #9F0017, #9c1309
body: #3a3939, #08080A
texto: #EDEECD
botón: #f7b617
*/
.nav-dark{
    background: linear-gradient(#9F0017,#9c1309);
}
body{
    background: radial-gradient(#3a3939,#08080A);
    height: 100%;
}
.logo-text{
    font-family: 'Righteous', cursive;
}
.titles{
    font-family: 'PT Sans', sans-serif;
}
.text{
    font-family: 'Raleway', sans-serif;
}
.color-text-body{
    color: #EDEECD;
}
.fa{
    font-size: 1.5em;
}
/* user */
#photo-user{
    font-size: 3em;
}
.icon-user{
    right: 2%;
}
/* modal*/
.list-unlisted{
    list-style: none;
}