*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Barra de navegación */
/*
header: #9F0017, #9c1309
body: #3a3939, #08080A
texto: #EDEECD
botón: #f7b617
*/
.nav-dark{
    background: linear-gradient(#9F0017,#9c1309);
    color: #EDEECD !important;
}
.form-nav{
    margin-top: 6em;
}
body{
    background: radial-gradient(#3a3939,#08080A);
    height: 100%;
}
.logo-text{
    font-family: 'Righteous', cursive;
}
.titles{
    font-family: 'PT Sans', sans-serif;
}
.text{
    font-family: 'Raleway', sans-serif;
}
.white{
    color: #EDEECD !important;
}
.form-input{
    margin-top: 80vh !important;
    margin: auto !important;
    width: 50vh !important;
}
.img-movie{
    margin-top: 2vh;
    margin-left: 3vh;
    width: 20vh;
    height: 30vh;
}
.img-modal{
    width: 20vh;
    height: 30vh;
    display: inline-block;
}
.list-none{
    list-style-type: none;
    display: inline-block;
}
.btn-float{
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-end;
}