*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-dark{
    background: linear-gradient(#9F0017,#9c1309);
    /*background: linear-gradient(#090c15, #08080A);*/
    /*background: #4267b2;*/
}
body{
    /*background: radial-gradient(#191919, #08080A);*/
    /*background: #242323;*/
    background: radial-gradient(#3a3939,#08080A);
    height: 100vh;
    width: 100vh;
}
/*
header: #9F0017, #9c1309
body: #3a3939, #08080A
texto: #EDEECD
botoón: #f7b617
*/
.text-blank{
    color: #EDEECD;
}
.color-o{
    background:#f7b617;
}
h1{
    font-family: 'Righteous', cursive;
}
.text{
    font-family: 'PT Sans', sans-serif;
    color: #EDEECD;
    font-size: 1.3em;
}
input{
    font-family: 'Raleway', sans-serif;
}
.p-text{
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    color: #EDEECD;
}